{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "jsx-v-model",
    "jsx-vue-functional",
    "transform-vue-jsx"
  ]
}